# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.docker/
postgres_data/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo


# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Distribution / Data
*.db
*.sqlite3
instance/
.webassets-cache

# Logs
*.log
/frontend/.idea/
/frontend/.next/
/frontend/node_modules/
.next/
node_modules/